openapi: 3.0.0
info:
  contact:
    email: joel@spacetraders.io
    name: Joel Brubaker
  description: |+
    SpaceTraders is an open-universe game and learning platform that offers a set of HTTP endpoints to control a fleet of ships and explore a multiplayer universe.

    The API is documented using [OpenAPI](https://github.com/SpaceTradersAPI/api-docs). You can send your first request right here in your browser to check the status of the game server.

    ```json http
    {
      "method": "GET",
      "url": "https://api.spacetraders.io/v2",
    }
    ```

    Unlike a traditional game, SpaceTraders does not have a first-party client or app to play the game. Instead, you can use the API to build your own client, write a script to automate your ships, or try an app built by the community.

    We have a [Discord channel](https://discord.com/invite/jh6zurdWk5) where you can share your projects, ask questions, and get help from other players.


  license:
    name: No Permission
    url: https://choosealicense.com/no-permission/
  title: SpaceTraders API
  version: 2.0.0
servers:
- description: v2
  url: https://api.spacetraders.io/v2
security:
- AgentToken: []
tags:
- description: Factions
  name: factions
- description: Fleet
  name: fleet
- description: Contracts
  name: contracts
- description: Systems
  name: systems
- description: Agents
  name: agents
paths:
  /register:
    post:
      description: |-
        Creates a new agent and ties it to a temporary Account.

        The agent symbol is a 3-14 character string that will represent your agent. This symbol will prefix the symbol of every ship you own. Agent symbols will be cast to all uppercase characters.

        A new agent will be granted an authorization token, a contract with their starting faction, a command ship with a jump drive, and one hundred thousand credits.

        > #### Keep your token safe and secure
        >
        > Save your token during the alpha phase. There is no way to regenerate this token without starting a new agent. In the future you will be able to generate and manage your tokens from the SpaceTraders website.

        You can accept your contract using the `/my/contracts/{contractId}/accept` endpoint. You will want to navigate your command ship to a nearby asteroid field and execute the `/my/ships/{shipSymbol}/extract` endpoint to mine various types of ores and minerals.

        Return to the contract destination and execute the `/my/ships/{shipSymbol}/deliver` endpoint to deposit goods into the contract.

        When your contract is fulfilled, you can call `/my/contracts/{contractId}/fulfill` to retrieve payment.
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register_request'
        description: ""
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/register_201_response'
          description: OK
      summary: Register New Agent
      tags: []
  /systems:
    get:
      description: Return a list of all systems.
      operationId: get-systems
      parameters:
      - description: What entry offset to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: How many entries to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_systems_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: List Systems
      tags:
      - systems
  /systems/{systemSymbol}:
    get:
      description: Get the details of a system.
      operationId: get-system
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          default: X1-OE
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_system_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get System
      tags:
      - systems
  /systems/{systemSymbol}/waypoints:
    get:
      description: Fetch all of the waypoints for a given system. System must be charted
        or a ship must be present to return waypoint details.
      operationId: get-system-waypoints
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: What entry offset to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: How many entries to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_system_waypoints_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: List Waypoints
      tags:
      - systems
  /systems/{systemSymbol}/waypoints/{waypointSymbol}:
    get:
      description: View the details of a waypoint.
      operationId: get-waypoint
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: The waypoint symbol
        explode: false
        in: path
        name: waypointSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_waypoint_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Waypoint
      tags:
      - systems
  /systems/{systemSymbol}/waypoints/{waypointSymbol}/market:
    get:
      description: "Retrieve imports, exports and exchange data from a marketplace.\
        \ Imports can be sold, exports can be purchased, and exchange goods can be\
        \ purchased or sold. Send a ship to the waypoint to access trade good prices\
        \ and recent transactions."
      operationId: get-market
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: The waypoint symbol
        explode: false
        in: path
        name: waypointSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_market_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Market
      tags:
      - systems
  /systems/{systemSymbol}/waypoints/{waypointSymbol}/shipyard:
    get:
      description: Get the shipyard for a waypoint.
      operationId: get-shipyard
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: The waypoint symbol
        explode: false
        in: path
        name: waypointSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_shipyard_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Shipyard
      tags:
      - systems
  /systems/{systemSymbol}/waypoints/{waypointSymbol}/jump-gate:
    get:
      description: Get jump gate details for a waypoint.
      operationId: get-jump-gate
      parameters:
      - description: The system symbol
        explode: false
        in: path
        name: systemSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: The waypoint symbol
        explode: false
        in: path
        name: waypointSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_jump_gate_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Jump Gate
      tags:
      - systems
  /factions:
    get:
      description: List all discovered factions in the game.
      operationId: get-factions
      parameters:
      - description: What entry offset to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: How many entries to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_factions_200_response'
          description: ""
      summary: List Factions
      tags:
      - factions
  /factions/{factionSymbol}:
    get:
      description: View the details of a faction.
      operationId: get-faction
      parameters:
      - description: The faction symbol
        explode: false
        in: path
        name: factionSymbol
        required: true
        schema:
          default: CGR
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_faction_200_response'
          description: OK
      summary: Get Faction
      tags:
      - factions
  /my/agent:
    get:
      description: Fetch your agent's details.
      operationId: get-my-agent
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_my_agent_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: My Agent Details
      tags:
      - agents
  /my/contracts:
    get:
      description: List all of your contracts.
      operationId: get-contracts
      parameters:
      - description: What entry offset to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: How many entries to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_contracts_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: List Contracts
      tags:
      - contracts
  /my/contracts/{contractId}:
    get:
      description: Get the details of a contract by ID.
      operationId: get-contract
      parameters:
      - description: The contract ID
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_contract_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Contract
      tags:
      - contracts
  /my/contracts/{contractId}/accept:
    post:
      description: Accept a contract.
      operationId: accept-contract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accept_contract_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Accept Contract
      tags:
      - contracts
  /my/contracts/{contractId}/deliver:
    post:
      description: Deliver cargo on a given contract.
      operationId: deliver-contract
      parameters:
      - description: The ID of the contract
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliver_contract_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliver_contract_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Deliver Contract
      tags:
      - contracts
  /my/contracts/{contractId}/fulfill:
    post:
      description: Fulfill a contract
      operationId: fulfill-contract
      parameters:
      - description: The ID of the contract
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fulfill_contract_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Fulfill Contract
      tags:
      - contracts
  /my/ships:
    get:
      description: Retrieve all of your ships.
      operationId: get-my-ships
      parameters:
      - description: What entry offset to request
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: How many entries to return per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_my_ships_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: List Ships
      tags:
      - fleet
    post:
      description: Purchase a ship
      operationId: purchase-ship
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/purchase_ship_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_ship_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Purchase Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}:
    get:
      description: Retrieve the details of your ship.
      operationId: get-my-ship
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_my_ship_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/cargo:
    get:
      description: Retrieve the cargo of your ship.
      operationId: get-my-ship-cargo
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_my_ship_cargo_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Get Ship Cargo
      tags:
      - fleet
  /my/ships/{shipSymbol}/orbit:
    post:
      description: |-
        Attempt to move your ship into orbit at it's current location. The request will only succeed if your ship is capable of moving into orbit at the time of the request.

        The endpoint is idempotent - successive calls will succeed even if the ship is already in orbit.
      operationId: orbit-ship
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orbit_Ship_200_Response'
          description: The ship has successfully moved into orbit at it's current
            location.
      security:
      - AgentToken: []
      summary: Orbit Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/refine:
    post:
      description: Attempt to refine the raw materials on your ship. The request will
        only succeed if your ship is capable of refining at the time of the request.
      operationId: ship-refine
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ship_refine_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship_Refine_200_Response'
          description: The ship has successfully started refining.
      security:
      - AgentToken: []
      summary: Ship Refine
      tags:
      - fleet
  /my/ships/{shipSymbol}/chart:
    post:
      description: |-
        Command a ship to chart the current waypoint.

        Waypoints in the universe are uncharted by default. These locations will not show up in the API until they have been charted by a ship.

        Charting a location will record your agent as the one who created the chart.
      operationId: create-chart
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_chart_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Create Chart
      tags:
      - fleet
  /my/ships/{shipSymbol}/cooldown:
    get:
      description: |-
        Retrieve the details of your ship's reactor cooldown. Some actions such as activating your jump drive, scanning, or extracting resources taxes your reactor and results in a cooldown.

        Your ship cannot perform additional actions until your cooldown has expired. The duration of your cooldown is relative to the power consumption of the related modules or mounts for the action taken.

        Response returns a 204 status code (no-content) when the ship has no cooldown.
      operationId: get-ship-cooldown
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_ship_cooldown_200_response'
          description: OK
        "204":
          description: No cooldown
      security:
      - AgentToken: []
      summary: Get Ship Cooldown
      tags:
      - fleet
  /my/ships/{shipSymbol}/dock:
    post:
      description: |-
        Attempt to dock your ship at it's current location. Docking will only succeed if the waypoint is a dockable location, and your ship is capable of docking at the time of the request.

        The endpoint is idempotent - successive calls will succeed even if the ship is already docked.
      operationId: dock-ship
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dock_Ship_200_Response'
          description: The ship has successfully docked at it's current location.
      security:
      - AgentToken: []
      summary: Dock Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/survey:
    post:
      description: |-
        If you want to target specific yields for an extraction, you can survey a waypoint, such as an asteroid field, and send the survey in the body of the extract request. Each survey may have multiple deposits, and if a symbol shows up more than once, that indicates a higher chance of extracting that resource.

        Your ship will enter a cooldown between consecutive survey requests. Surveys will eventually expire after a period of time. Multiple ships can use the same survey for extraction.
      operationId: create-survey
      parameters:
      - description: The symbol of the ship
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_survey_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Create Survey
      tags:
      - fleet
  /my/ships/{shipSymbol}/extract:
    post:
      description: Extract resources from the waypoint into your ship. Send an optional
        survey as the payload to target specific yields.
      operationId: extract-resources
      parameters:
      - description: The ship symbol
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extract_resources_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extract_resources_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Extract Resources
      tags:
      - fleet
  /my/ships/{shipSymbol}/jettison:
    post:
      description: Jettison cargo from your ship's cargo hold.
      operationId: jettison
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/jettison_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jettison_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Jettison Cargo
      tags:
      - fleet
  /my/ships/{shipSymbol}/jump:
    post:
      description: "Jump your ship instantly to a target system. Unlike other forms\
        \ of navigation, jumping requires a unit of antimatter."
      operationId: jump-ship
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/jump_ship_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jump_ship_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Jump Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/navigate:
    post:
      description: |-
        Navigate to a target destination. The destination must be located within the same system as the ship. Navigating will consume the necessary fuel and supplies from the ship's manifest, and will pay out crew wages from the agent's account.

        The returned response will detail the route information including the expected time of arrival. Most ship actions are unavailable until the ship has arrived at it's destination.

        To travel between systems, see the ship's warp or jump actions.
      operationId: navigate-ship
      parameters:
      - description: The ship symbol
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/navigate_ship_request'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navigate_ship_200_response'
          description: "The successful transit information including the route details\
            \ and changes to ship fuel, supplies, and crew wages paid. The route includes\
            \ the expected time of arrival."
      security:
      - AgentToken: []
      summary: Navigate Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/nav:
    get:
      description: Get the current nav status of a ship.
      operationId: get-ship-nav
      parameters:
      - description: The ship symbol
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_ship_nav_200_response'
          description: The current nav status of the ship.
      security:
      - AgentToken: []
      summary: Get Ship Nav
      tags:
      - fleet
    patch:
      description: "Update the nav data of a ship, such as the flight mode."
      operationId: patch-ship-nav
      parameters:
      - description: The ship symbol
        explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_ship_nav_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_ship_nav_200_response'
          description: The updated nav status of the ship.
      security:
      - AgentToken: []
      summary: Patch Ship Nav
      tags:
      - fleet
  /my/ships/{shipSymbol}/warp:
    post:
      description: |-
        Warp your ship to a target destination in another system. Warping will consume the necessary fuel and supplies from the ship's manifest, and will pay out crew wages from the agent's account.

        The returned response will detail the route information including the expected time of arrival. Most ship actions are unavailable until the ship has arrived at it's destination.
      operationId: warp-ship
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/navigate_ship_request'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/navigate_ship_200_response'
          description: "The successful transit information including the route details\
            \ and changes to ship fuel, supplies, and crew wages paid. The route includes\
            \ the expected time of arrival."
      security:
      - AgentToken: []
      summary: Warp Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/sell:
    post:
      description: Sell cargo.
      operationId: sell-cargo
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellCargoRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sell_Cargo_201_Response'
          description: Created
      security:
      - AgentToken: []
      summary: Sell Cargo
      tags:
      - fleet
  /my/ships/{shipSymbol}/scan/systems:
    post:
      description: Activate your ship's sensor arrays to scan for system information.
      operationId: create-ship-system-scan
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_ship_system_scan_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Scan Systems
      tags:
      - fleet
  /my/ships/{shipSymbol}/scan/waypoints:
    post:
      description: Activate your ship's sensor arrays to scan for waypoint information.
      operationId: create-ship-waypoint-scan
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_ship_waypoint_scan_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Scan Waypoints
      tags:
      - fleet
  /my/ships/{shipSymbol}/scan/ships:
    post:
      description: Activate your ship's sensor arrays to scan for ship information.
      operationId: create-ship-ship-scan
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_ship_ship_scan_201_response'
          description: Created
      security:
      - AgentToken: []
      summary: Scan Ships
      tags:
      - fleet
  /my/ships/{shipSymbol}/refuel:
    post:
      description: Refuel your ship from the local market.
      operationId: refuel-ship
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refuel_ship_200_response'
          description: OK
      security:
      - AgentToken: []
      summary: Refuel Ship
      tags:
      - fleet
  /my/ships/{shipSymbol}/purchase:
    post:
      description: Purchase cargo.
      operationId: purchase-cargo
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purchase_Cargo_Request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchase_Cargo_201_Response'
          description: Created
      security:
      - AgentToken: []
      summary: Purchase Cargo
      tags:
      - fleet
  /my/ships/{shipSymbol}/transfer:
    post:
      description: Transfer cargo between ships.
      operationId: transfer-cargo
      parameters:
      - explode: false
        in: path
        name: shipSymbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer_Cargo_Request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer_Cargo_200_Response'
          description: Created
      security:
      - AgentToken: []
      summary: Transfer Cargo
      tags:
      - fleet
components:
  requestBodies: {}
  schemas:
    Agent:
      description: ""
      example:
        accountId: accountId
        symbol: symbol
        headquarters: headquarters
        credits: 0
      properties:
        accountId:
          minLength: 1
          type: string
        symbol:
          minLength: 1
          type: string
        headquarters:
          description: The headquarters of the agent.
          minLength: 1
          type: string
        credits:
          description: The number of credits the agent has available. Credits can
            be negative if funds have been overdrawn.
          type: integer
      required:
      - accountId
      - credits
      - headquarters
      - symbol
      type: object
    Contract:
      description: ""
      example:
        terms:
          deliver:
          - tradeSymbol: tradeSymbol
            unitsRequired: 5
            destinationSymbol: destinationSymbol
            unitsFulfilled: 5
          - tradeSymbol: tradeSymbol
            unitsRequired: 5
            destinationSymbol: destinationSymbol
            unitsFulfilled: 5
          payment:
            onFulfilled: 1
            onAccepted: 6
          deadline: 2000-01-23T04:56:07.000+00:00
        factionSymbol: factionSymbol
        fulfilled: false
        accepted: false
        expiration: 2000-01-23T04:56:07.000+00:00
        id: id
        type: PROCUREMENT
      properties:
        id:
          minLength: 1
          type: string
        factionSymbol:
          description: The symbol of the faction that this contract is for.
          minLength: 1
          type: string
        type:
          enum:
          - PROCUREMENT
          - TRANSPORT
          - SHUTTLE
          type: string
        terms:
          $ref: '#/components/schemas/ContractTerms'
        accepted:
          default: false
          description: Whether the contract has been accepted by the agent
          type: boolean
        fulfilled:
          default: false
          description: Whether the contract has been fulfilled
          type: boolean
        expiration:
          description: The time at which the contract expires
          format: date-time
          type: string
      required:
      - accepted
      - expiration
      - factionSymbol
      - fulfilled
      - id
      - terms
      - type
      type: object
    Faction:
      description: ""
      example:
        symbol: symbol
        headquarters: headquarters
        traits:
        - symbol: BUREAUCRATIC
          name: name
          description: description
        - symbol: BUREAUCRATIC
          name: name
          description: description
        name: name
        description: description
      properties:
        symbol:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        description:
          minLength: 1
          type: string
        headquarters:
          minLength: 1
          type: string
        traits:
          items:
            $ref: '#/components/schemas/FactionTrait'
          type: array
      required:
      - description
      - headquarters
      - name
      - symbol
      - traits
      type: object
    Ship:
      description: A ship
      example:
        symbol: symbol
        nav:
          route:
            departureTime: 2000-01-23T04:56:07.000+00:00
            arrival: 2000-01-23T04:56:07.000+00:00
            destination:
              symbol: symbol
              systemSymbol: systemSymbol
              x: 2
              "y": 7
              type: null
            departure:
              symbol: symbol
              systemSymbol: systemSymbol
              x: 2
              "y": 7
              type: null
          systemSymbol: systemSymbol
          waypointSymbol: waypointSymbol
          flightMode: null
          status: null
        engine:
          symbol: ENGINE_IMPULSE_DRIVE_I
          condition: 93
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          description: description
          speed: 1.6683562403749608
        fuel:
          consumed:
            amount: 0
            timestamp: 2000-01-23T04:56:07.000+00:00
          current: 0
          capacity: 0
        reactor:
          symbol: REACTOR_SOLAR_I
          condition: 50
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          description: description
          powerOutput: 1
        mounts:
        - symbol: MOUNT_GAS_SIPHON_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          strength: 0
          name: name
          description: description
          deposits:
          - QUARTZ_SAND
          - QUARTZ_SAND
        - symbol: MOUNT_GAS_SIPHON_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          strength: 0
          name: name
          description: description
          deposits:
          - QUARTZ_SAND
          - QUARTZ_SAND
        registration:
          role: null
          name: name
          factionSymbol: factionSymbol
        cargo:
          units: 0
          inventory:
          - symbol: symbol
            name: name
            description: description
            units: 1
          - symbol: symbol
            name: name
            description: description
            units: 1
          capacity: 0
        modules:
        - symbol: MODULE_MINERAL_PROCESSOR_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          range: 0
          description: description
          capacity: 0
        - symbol: MODULE_MINERAL_PROCESSOR_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          range: 0
          description: description
          capacity: 0
        crew:
          wages: 0
          current: 9
          rotation: STRICT
          morale: 41
          required: 3
          capacity: 2
        frame:
          symbol: FRAME_PROBE
          condition: 12
          moduleSlots: 0
          requirements:
            slots: 4
            power: 7
            crew: 1
          fuelCapacity: 0
          name: name
          description: description
          mountingPoints: 0
      properties:
        symbol:
          description: "The globally unique identifier of the ship in the following\
            \ format: `[AGENT_SYMBOL]_[HEX_ID]`"
          minLength: 8
          type: string
        registration:
          $ref: '#/components/schemas/ShipRegistration'
        nav:
          $ref: '#/components/schemas/ShipNav'
        crew:
          $ref: '#/components/schemas/ShipCrew'
        frame:
          $ref: '#/components/schemas/ShipFrame'
        reactor:
          $ref: '#/components/schemas/ShipReactor'
        engine:
          $ref: '#/components/schemas/ShipEngine'
        modules:
          items:
            $ref: '#/components/schemas/ShipModule'
          type: array
        mounts:
          items:
            $ref: '#/components/schemas/ShipMount'
          type: array
        cargo:
          $ref: '#/components/schemas/ShipCargo'
        fuel:
          $ref: '#/components/schemas/ShipFuel'
      required:
      - cargo
      - crew
      - engine
      - frame
      - fuel
      - modules
      - mounts
      - nav
      - reactor
      - registration
      - symbol
      type: object
    System:
      description: ""
      example:
        symbol: symbol
        sectorSymbol: sectorSymbol
        x: 0
        "y": 6
        type: null
        waypoints:
        - symbol: symbol
          x: 1
          "y": 5
          type: null
        - symbol: symbol
          x: 1
          "y": 5
          type: null
        factions:
        - symbol: symbol
        - symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
        sectorSymbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/SystemType'
        x:
          type: integer
        "y":
          type: integer
        waypoints:
          items:
            $ref: '#/components/schemas/SystemWaypoint'
          type: array
        factions:
          items:
            $ref: '#/components/schemas/SystemFaction'
          type: array
      required:
      - factions
      - sectorSymbol
      - symbol
      - type
      - waypoints
      - x
      - "y"
      type: object
    Meta:
      description: ""
      example:
        total: 5
        limit: 7
        page: 2
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
      required:
      - limit
      - page
      - total
      type: object
      x-examples:
        example-1:
          total: 6
          page: 1
          limit: 20
    Waypoint:
      description: "A waypoint is a location that ships can travel to such as a Planet,\
        \ Moon or Space Station."
      example:
        symbol: symbol
        traits:
        - symbol: UNCHARTED
          name: name
          description: description
        - symbol: UNCHARTED
          name: name
          description: description
        systemSymbol: systemSymbol
        faction:
          symbol: symbol
        x: 0
        "y": 6
        type: null
        chart:
          submittedBy: submittedBy
          waypointSymbol: waypointSymbol
          submittedOn: 2000-01-23T04:56:07.000+00:00
        orbitals:
        - symbol: symbol
        - symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/WaypointType'
        systemSymbol:
          minLength: 1
          type: string
        x:
          type: integer
        "y":
          type: integer
        orbitals:
          items:
            $ref: '#/components/schemas/WaypointOrbital'
          type: array
        faction:
          $ref: '#/components/schemas/WaypointFaction'
        traits:
          description: The traits of the waypoint.
          items:
            $ref: '#/components/schemas/WaypointTrait'
          type: array
        chart:
          $ref: '#/components/schemas/Chart'
      required:
      - orbitals
      - symbol
      - systemSymbol
      - traits
      - type
      - x
      - "y"
      type: object
    Market:
      description: ""
      example:
        symbol: symbol
        imports:
        - symbol: null
          name: name
          description: description
        - symbol: null
          name: name
          description: description
        tradeGoods:
        - tradeVolume: 1
          symbol: symbol
          sellPrice: 0
          purchasePrice: 0
          supply: SCARCE
        - tradeVolume: 1
          symbol: symbol
          sellPrice: 0
          purchasePrice: 0
          supply: SCARCE
        exports:
        - symbol: null
          name: name
          description: description
        - symbol: null
          name: name
          description: description
        exchange:
        - symbol: null
          name: name
          description: description
        - symbol: null
          name: name
          description: description
        transactions:
        - tradeSymbol: tradeSymbol
          totalPrice: 1
          waypointSymbol: waypointSymbol
          shipSymbol: shipSymbol
          units: 1
          type: PURCHASE
          pricePerUnit: 1
          timestamp: 2000-01-23T04:56:07.000+00:00
        - tradeSymbol: tradeSymbol
          totalPrice: 1
          waypointSymbol: waypointSymbol
          shipSymbol: shipSymbol
          units: 1
          type: PURCHASE
          pricePerUnit: 1
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        symbol:
          description: The symbol of the market. The symbol is the same as the waypoint
            where the market is located.
          type: string
        exports:
          description: The list of goods that are exported from this market.
          items:
            $ref: '#/components/schemas/TradeGood'
          type: array
        imports:
          description: The list of goods that are sought as imports in this market.
          items:
            $ref: '#/components/schemas/TradeGood'
          type: array
        exchange:
          description: The list of goods that are bought and sold between agents at
            this market.
          items:
            $ref: '#/components/schemas/TradeGood'
          type: array
        transactions:
          description: The list of recent transactions at this market. Visible only
            when a ship is present at the market.
          items:
            $ref: '#/components/schemas/MarketTransaction'
          type: array
        tradeGoods:
          description: The list of goods that are traded at this market. Visible only
            when a ship is present at the market.
          items:
            $ref: '#/components/schemas/MarketTradeGood'
          type: array
      required:
      - exchange
      - exports
      - imports
      - symbol
      type: object
    Shipyard:
      description: ""
      example:
        shipTypes:
        - type: null
        - type: null
        symbol: symbol
        ships:
        - engine:
            symbol: ENGINE_IMPULSE_DRIVE_I
            condition: 93
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            description: description
            speed: 1.6683562403749608
          reactor:
            symbol: REACTOR_SOLAR_I
            condition: 50
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            description: description
            powerOutput: 1
          name: name
          description: description
          mounts:
          - symbol: MOUNT_GAS_SIPHON_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            strength: 0
            name: name
            description: description
            deposits:
            - QUARTZ_SAND
            - QUARTZ_SAND
          - symbol: MOUNT_GAS_SIPHON_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            strength: 0
            name: name
            description: description
            deposits:
            - QUARTZ_SAND
            - QUARTZ_SAND
          purchasePrice: 6
          type: null
          modules:
          - symbol: MODULE_MINERAL_PROCESSOR_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            range: 0
            description: description
            capacity: 0
          - symbol: MODULE_MINERAL_PROCESSOR_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            range: 0
            description: description
            capacity: 0
          frame:
            symbol: FRAME_PROBE
            condition: 12
            moduleSlots: 0
            requirements:
              slots: 4
              power: 7
              crew: 1
            fuelCapacity: 0
            name: name
            description: description
            mountingPoints: 0
        - engine:
            symbol: ENGINE_IMPULSE_DRIVE_I
            condition: 93
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            description: description
            speed: 1.6683562403749608
          reactor:
            symbol: REACTOR_SOLAR_I
            condition: 50
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            description: description
            powerOutput: 1
          name: name
          description: description
          mounts:
          - symbol: MOUNT_GAS_SIPHON_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            strength: 0
            name: name
            description: description
            deposits:
            - QUARTZ_SAND
            - QUARTZ_SAND
          - symbol: MOUNT_GAS_SIPHON_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            strength: 0
            name: name
            description: description
            deposits:
            - QUARTZ_SAND
            - QUARTZ_SAND
          purchasePrice: 6
          type: null
          modules:
          - symbol: MODULE_MINERAL_PROCESSOR_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            range: 0
            description: description
            capacity: 0
          - symbol: MODULE_MINERAL_PROCESSOR_I
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            range: 0
            description: description
            capacity: 0
          frame:
            symbol: FRAME_PROBE
            condition: 12
            moduleSlots: 0
            requirements:
              slots: 4
              power: 7
              crew: 1
            fuelCapacity: 0
            name: name
            description: description
            mountingPoints: 0
        transactions:
        - waypointSymbol: waypointSymbol
          price: 1
          shipSymbol: shipSymbol
          agentSymbol: agentSymbol
          timestamp: 2000-01-23T04:56:07.000+00:00
        - waypointSymbol: waypointSymbol
          price: 1
          shipSymbol: shipSymbol
          agentSymbol: agentSymbol
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        symbol:
          description: The symbol of the shipyard. The symbol is the same as the waypoint
            where the shipyard is located.
          minLength: 1
          type: string
        shipTypes:
          description: The list of ship types available for purchase at this shipyard.
          items:
            $ref: '#/components/schemas/Shipyard_shipTypes_inner'
          type: array
        transactions:
          description: The list of recent transactions at this shipyard.
          items:
            $ref: '#/components/schemas/ShipyardTransaction'
          type: array
        ships:
          description: The ships that are currently available for purchase at the
            shipyard.
          items:
            $ref: '#/components/schemas/ShipyardShip'
          type: array
      required:
      - shipTypes
      - symbol
      type: object
    JumpGate:
      description: ""
      example:
        factionSymbol: factionSymbol
        connectedSystems:
        - symbol: symbol
          distance: 5
          sectorSymbol: sectorSymbol
          factionSymbol: factionSymbol
          x: 6
          "y": 1
          type: null
        - symbol: symbol
          distance: 5
          sectorSymbol: sectorSymbol
          factionSymbol: factionSymbol
          x: 6
          "y": 1
          type: null
        jumpRange: 0.8008281904610115
      properties:
        jumpRange:
          description: The maximum jump range of the gate.
          type: number
        factionSymbol:
          description: The symbol of the faction that owns the gate.
          type: string
        connectedSystems:
          description: The systems within range of the gate that have a corresponding
            gate.
          items:
            $ref: '#/components/schemas/ConnectedSystem'
          type: array
      required:
      - connectedSystems
      - jumpRange
      type: object
    ShipCargo:
      example:
        units: 0
        inventory:
        - symbol: symbol
          name: name
          description: description
          units: 1
        - symbol: symbol
          name: name
          description: description
          units: 1
        capacity: 0
      properties:
        capacity:
          description: The max number of items that can be stored in the cargo hold.
          minimum: 0
          type: integer
        units:
          description: The number of items currently stored in the cargo hold.
          minimum: 0
          type: integer
        inventory:
          description: The items currently in the cargo hold.
          items:
            $ref: '#/components/schemas/ShipCargoItem'
          type: array
      required:
      - capacity
      - inventory
      - units
      type: object
    ShipType:
      description: ""
      enum:
      - SHIP_PROBE
      - SHIP_MINING_DRONE
      - SHIP_INTERCEPTOR
      - SHIP_LIGHT_HAULER
      - SHIP_COMMAND_FRIGATE
      - SHIP_EXPLORER
      - SHIP_HEAVY_FREIGHTER
      - SHIP_LIGHT_SHUTTLE
      - SHIP_ORE_HOUND
      - SHIP_REFINING_FREIGHTER
      type: string
    ShipyardTransaction:
      example:
        waypointSymbol: waypointSymbol
        price: 1
        shipSymbol: shipSymbol
        agentSymbol: agentSymbol
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        waypointSymbol:
          description: The symbol of the waypoint where the transaction took place.
          type: string
        shipSymbol:
          description: The symbol of the ship that was purchased.
          type: string
        price:
          description: The price of the transaction.
          minimum: 1
          type: integer
        agentSymbol:
          description: The symbol of the agent that made the transaction.
          type: string
        timestamp:
          description: The timestamp of the transaction.
          format: date-time
          type: string
      required:
      - agentSymbol
      - price
      - shipSymbol
      - timestamp
      - waypointSymbol
      type: object
    ShipNav:
      description: The navigation information of the ship.
      example:
        route:
          departureTime: 2000-01-23T04:56:07.000+00:00
          arrival: 2000-01-23T04:56:07.000+00:00
          destination:
            symbol: symbol
            systemSymbol: systemSymbol
            x: 2
            "y": 7
            type: null
          departure:
            symbol: symbol
            systemSymbol: systemSymbol
            x: 2
            "y": 7
            type: null
        systemSymbol: systemSymbol
        waypointSymbol: waypointSymbol
        flightMode: null
        status: null
      properties:
        systemSymbol:
          description: The system symbol of the ship's current location.
          type: string
        waypointSymbol:
          description: "The waypoint symbol of the ship's current location, or if\
            \ the ship is in-transit, the waypoint symbol of the ship's destination."
          type: string
        route:
          $ref: '#/components/schemas/ShipNavRoute'
        status:
          $ref: '#/components/schemas/ShipNavStatus'
        flightMode:
          $ref: '#/components/schemas/ShipNavFlightMode'
      required:
      - flightMode
      - route
      - status
      - systemSymbol
      - waypointSymbol
      type: object
    Cooldown:
      description: A cooldown is a period of time in which a ship cannot perform certain
        actions.
      example:
        remainingSeconds: 0
        totalSeconds: 0
        shipSymbol: shipSymbol
        expiration: 2000-01-23T04:56:07.000+00:00
      properties:
        shipSymbol:
          description: The symbol of the ship that is on cooldown
          minLength: 1
          type: string
        totalSeconds:
          description: The total duration of the cooldown in seconds
          minimum: 0
          type: integer
        remainingSeconds:
          description: The remaining duration of the cooldown in seconds
          minimum: 0
          type: integer
        expiration:
          description: The date and time when the cooldown expires in ISO 8601 format
          format: date-time
          minimum: 0
          type: string
      required:
      - expiration
      - remainingSeconds
      - shipSymbol
      - totalSeconds
      type: object
    Chart:
      description: "The chart of a system or waypoint, which makes the location visible\
        \ to other agents."
      example:
        submittedBy: submittedBy
        waypointSymbol: waypointSymbol
        submittedOn: 2000-01-23T04:56:07.000+00:00
      properties:
        waypointSymbol:
          type: string
        submittedBy:
          type: string
        submittedOn:
          format: date-time
          type: string
      type: object
    Survey:
      description: "A resource survey of a waypoint, detailing a specific extraction\
        \ location and the types of resources that can be found there."
      example:
        symbol: symbol
        size: SMALL
        signature: signature
        expiration: 2000-01-23T04:56:07.000+00:00
        deposits:
        - symbol: symbol
        - symbol: symbol
      properties:
        signature:
          description: A unique signature for the location of this survey. This signature
            is verified when attempting an extraction using this survey.
          minLength: 1
          type: string
        symbol:
          description: The symbol of the waypoint that this survey is for.
          minLength: 1
          type: string
        deposits:
          description: A list of deposits that can be found at this location.
          items:
            $ref: '#/components/schemas/SurveyDeposit'
          type: array
        expiration:
          description: "The date and time when the survey expires. After this date\
            \ and time, the survey will no longer be available for extraction."
          format: date-time
          minimum: 0
          type: string
        size:
          description: The size of the deposit. This value indicates how much can
            be extracted from the survey before it is exhausted.
          enum:
          - SMALL
          - MODERATE
          - LARGE
          type: string
      required:
      - deposits
      - expiration
      - signature
      - size
      - symbol
      type: object
    Extraction:
      description: ""
      example:
        yield:
          symbol: symbol
          units: 0
        shipSymbol: shipSymbol
      properties:
        shipSymbol:
          minLength: 1
          type: string
        yield:
          $ref: '#/components/schemas/ExtractionYield'
      required:
      - shipSymbol
      - yield
      type: object
    ShipFuel:
      description: Details of the ship's fuel tanks including how much fuel was consumed
        during the last transit or action.
      example:
        consumed:
          amount: 0
          timestamp: 2000-01-23T04:56:07.000+00:00
        current: 0
        capacity: 0
      properties:
        current:
          description: The current amount of fuel in the ship's tanks.
          minimum: 0
          type: integer
        capacity:
          description: The maximum amount of fuel the ship's tanks can hold.
          minimum: 0
          type: integer
        consumed:
          $ref: '#/components/schemas/ShipFuel_consumed'
      required:
      - capacity
      - current
      type: object
    ShipNavFlightMode:
      default: CRUISE
      description: The ship's set speed when traveling between waypoints or systems.
      enum:
      - DRIFT
      - STEALTH
      - CRUISE
      - BURN
      type: string
    MarketTransaction:
      example:
        tradeSymbol: tradeSymbol
        totalPrice: 1
        waypointSymbol: waypointSymbol
        shipSymbol: shipSymbol
        units: 1
        type: PURCHASE
        pricePerUnit: 1
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        waypointSymbol:
          description: The symbol of the waypoint where the transaction took place.
          type: string
        shipSymbol:
          description: The symbol of the ship that made the transaction.
          type: string
        tradeSymbol:
          description: The symbol of the trade good.
          type: string
        type:
          description: The type of transaction.
          enum:
          - PURCHASE
          - SELL
          type: string
        units:
          description: The number of units of the transaction.
          minimum: 1
          type: integer
        pricePerUnit:
          description: The price per unit of the transaction.
          minimum: 1
          type: integer
        totalPrice:
          description: The total price of the transaction.
          minimum: 1
          type: integer
        timestamp:
          description: The timestamp of the transaction.
          format: date-time
          type: string
      required:
      - pricePerUnit
      - shipSymbol
      - timestamp
      - totalPrice
      - tradeSymbol
      - type
      - units
      - waypointSymbol
      type: object
    ScannedSystem:
      description: ""
      example:
        symbol: symbol
        distance: 1
        sectorSymbol: sectorSymbol
        x: 0
        "y": 6
        type: null
      properties:
        symbol:
          minLength: 1
          type: string
        sectorSymbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/SystemType'
        x:
          type: integer
        "y":
          type: integer
        distance:
          type: integer
      required:
      - distance
      - sectorSymbol
      - symbol
      - type
      - x
      - "y"
      type: object
    ScannedWaypoint:
      description: "A waypoint is a location that ships can travel to such as a Planet,\
        \ Moon or Space Station."
      example:
        symbol: symbol
        traits:
        - symbol: UNCHARTED
          name: name
          description: description
        - symbol: UNCHARTED
          name: name
          description: description
        systemSymbol: systemSymbol
        faction:
          symbol: symbol
        x: 0
        "y": 6
        type: null
        chart:
          submittedBy: submittedBy
          waypointSymbol: waypointSymbol
          submittedOn: 2000-01-23T04:56:07.000+00:00
        orbitals:
        - symbol: symbol
        - symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/WaypointType'
        systemSymbol:
          minLength: 1
          type: string
        x:
          type: integer
        "y":
          type: integer
        orbitals:
          items:
            $ref: '#/components/schemas/WaypointOrbital'
          type: array
        faction:
          $ref: '#/components/schemas/WaypointFaction'
        traits:
          description: The traits of the waypoint.
          items:
            $ref: '#/components/schemas/WaypointTrait'
          type: array
        chart:
          $ref: '#/components/schemas/Chart'
      required:
      - orbitals
      - symbol
      - systemSymbol
      - traits
      - type
      - x
      - "y"
      type: object
    ScannedShip:
      description: The ship that was scanned. Details include information about the
        ship that could be detected by the scanner.
      example:
        symbol: symbol
        nav:
          route:
            departureTime: 2000-01-23T04:56:07.000+00:00
            arrival: 2000-01-23T04:56:07.000+00:00
            destination:
              symbol: symbol
              systemSymbol: systemSymbol
              x: 2
              "y": 7
              type: null
            departure:
              symbol: symbol
              systemSymbol: systemSymbol
              x: 2
              "y": 7
              type: null
          systemSymbol: systemSymbol
          waypointSymbol: waypointSymbol
          flightMode: null
          status: null
        engine:
          symbol: symbol
        reactor:
          symbol: symbol
        mounts:
        - symbol: symbol
        - symbol: symbol
        registration:
          role: null
          name: name
          factionSymbol: factionSymbol
        frame:
          symbol: symbol
      properties:
        symbol:
          description: The globally unique identifier of the ship.
          type: string
        registration:
          $ref: '#/components/schemas/ShipRegistration'
        nav:
          $ref: '#/components/schemas/ShipNav'
        frame:
          $ref: '#/components/schemas/ScannedShip_frame'
        reactor:
          $ref: '#/components/schemas/ScannedShip_reactor'
        engine:
          $ref: '#/components/schemas/ScannedShip_engine'
        mounts:
          items:
            $ref: '#/components/schemas/ScannedShip_mounts_inner'
          type: array
      required:
      - engine
      - nav
      - registration
      - symbol
      type: object
    ContractTerms:
      example:
        deliver:
        - tradeSymbol: tradeSymbol
          unitsRequired: 5
          destinationSymbol: destinationSymbol
          unitsFulfilled: 5
        - tradeSymbol: tradeSymbol
          unitsRequired: 5
          destinationSymbol: destinationSymbol
          unitsFulfilled: 5
        payment:
          onFulfilled: 1
          onAccepted: 6
        deadline: 2000-01-23T04:56:07.000+00:00
      properties:
        deadline:
          description: The deadline for the contract.
          format: date-time
          type: string
        payment:
          $ref: '#/components/schemas/ContractPayment'
        deliver:
          items:
            $ref: '#/components/schemas/ContractDeliverGood'
          type: array
      required:
      - deadline
      - payment
      type: object
    FactionTrait:
      example:
        symbol: BUREAUCRATIC
        name: name
        description: description
      properties:
        symbol:
          description: The unique identifier of the trait.
          enum:
          - BUREAUCRATIC
          - SECRETIVE
          - CAPITALISTIC
          - INDUSTRIOUS
          - PEACEFUL
          - DISTRUSTFUL
          - WELCOMING
          - ANARCHIST
          - CONFLICTED
          - AUTHORITARIAN
          - OLIGARCHICAL
          - DYNASTIC
          - DEMOCRACTIC
          - DECENTRALIZED
          - SMUGGLERS
          - SCAVENGERS
          - REBELLIOUS
          - EXILES
          - PIRATES
          - RAIDERS
          - CLAN
          - GUILD
          - DOMINION
          - FRINGE
          - FORSAKEN
          - ISOLATED
          - LOCALIZED
          - ESTABLISHED
          - NOTABLE
          - DOMINANT
          - INESCAPABLE
          - INNOVATIVE
          - BOLD
          - VISIONARY
          - CURIOUS
          - DARING
          - EXPLORATORY
          - RESOURCEFUL
          - FLEXIBLE
          - COOPERATIVE
          - UNITED
          - STRATEGIC
          - INTELLIGENT
          - RESEARCH_FOCUSED
          - COLLABORATIVE
          - PROGRESSIVE
          - MILITARISTIC
          - TECHNOLOGICALLY_ADVANCED
          - AGGRESSIVE
          - IMPERIALISTIC
          - TREASURE_HUNTERS
          - DEXTEROUS
          - UNPREDICTABLE
          - BRUTAL
          - FLEETING
          - ADAPTABLE
          - SELF_SUFFICIENT
          - DEFENSIVE
          - PROUD
          - DIVERSE
          - INDEPENDENT
          - SELF_INTERESTED
          - FRAGMENTED
          - COMMERCIAL
          - FREE_MARKETS
          - ENTREPRENEURIAL
          type: string
        name:
          description: The name of the trait.
          type: string
        description:
          description: A description of the trait.
          type: string
      required:
      - description
      - name
      - symbol
      type: object
    ShipRegistration:
      description: The public registration information of the ship
      example:
        role: null
        name: name
        factionSymbol: factionSymbol
      properties:
        name:
          description: The agent's registered name of the ship
          minLength: 1
          type: string
        factionSymbol:
          description: The symbol of the faction the ship is registered with
          minLength: 1
          type: string
        role:
          $ref: '#/components/schemas/ShipRole'
      required:
      - name
      - role
      type: object
    ShipCrew:
      description: The ship's crew service and maintain the ship's systems and equipment.
      example:
        wages: 0
        current: 9
        rotation: STRICT
        morale: 41
        required: 3
        capacity: 2
      properties:
        current:
          description: The current number of crew members on the ship.
          type: integer
        required:
          description: The minimum number of crew members required to maintain the
            ship.
          type: integer
        capacity:
          description: The maximum number of crew members the ship can support.
          type: integer
        rotation:
          default: STRICT
          description: The rotation of crew shifts. A stricter shift improves the
            ship's performance. A more relaxed shift improves the crew's morale.
          enum:
          - STRICT
          - RELAXED
          type: string
        morale:
          description: A rough measure of the crew's morale. A higher morale means
            the crew is happier and more productive. A lower morale means the ship
            is more prone to accidents.
          maximum: 100
          minimum: 0
          type: integer
        wages:
          description: The amount of credits per crew member paid per hour. Wages
            are paid when a ship docks at a civilized waypoint.
          minimum: 0
          type: integer
      required:
      - capacity
      - current
      - morale
      - required
      - rotation
      - wages
      type: object
    ShipFrame:
      description: "The frame of the ship. The frame determines the number of modules\
        \ and mounting points of the ship, as well as base fuel capacity. As the condition\
        \ of the frame takes more wear, the ship will become more sluggish and less\
        \ maneuverable."
      example:
        symbol: FRAME_PROBE
        condition: 12
        moduleSlots: 0
        requirements:
          slots: 4
          power: 7
          crew: 1
        fuelCapacity: 0
        name: name
        description: description
        mountingPoints: 0
      properties:
        symbol:
          enum:
          - FRAME_PROBE
          - FRAME_DRONE
          - FRAME_INTERCEPTOR
          - FRAME_RACER
          - FRAME_FIGHTER
          - FRAME_FRIGATE
          - FRAME_SHUTTLE
          - FRAME_EXPLORER
          - FRAME_MINER
          - FRAME_LIGHT_FREIGHTER
          - FRAME_HEAVY_FREIGHTER
          - FRAME_TRANSPORT
          - FRAME_DESTROYER
          - FRAME_CRUISER
          - FRAME_CARRIER
          type: string
        name:
          type: string
        description:
          type: string
        condition:
          description: Condition is a range of 0 to 100 where 0 is completely worn
            out and 100 is brand new.
          maximum: 100
          minimum: 0
          type: integer
        moduleSlots:
          minimum: 0
          type: integer
        mountingPoints:
          minimum: 0
          type: integer
        fuelCapacity:
          minimum: 0
          type: integer
        requirements:
          $ref: '#/components/schemas/ShipRequirements'
      required:
      - description
      - fuelCapacity
      - moduleSlots
      - mountingPoints
      - name
      - requirements
      - symbol
      type: object
    ShipReactor:
      description: The reactor of the ship. The reactor is responsible for powering
        the ship's systems and weapons.
      example:
        symbol: REACTOR_SOLAR_I
        condition: 50
        requirements:
          slots: 4
          power: 7
          crew: 1
        name: name
        description: description
        powerOutput: 1
      properties:
        symbol:
          enum:
          - REACTOR_SOLAR_I
          - REACTOR_FUSION_I
          - REACTOR_FISSION_I
          - REACTOR_CHEMICAL_I
          - REACTOR_ANTIMATTER_I
          type: string
        name:
          type: string
        description:
          type: string
        condition:
          description: Condition is a range of 0 to 100 where 0 is completely worn
            out and 100 is brand new.
          maximum: 100
          minimum: 0
          type: integer
        powerOutput:
          minimum: 1
          type: integer
        requirements:
          $ref: '#/components/schemas/ShipRequirements'
      required:
      - description
      - name
      - powerOutput
      - requirements
      - symbol
      type: object
    ShipEngine:
      description: The engine determines how quickly a ship travels between waypoints.
      example:
        symbol: ENGINE_IMPULSE_DRIVE_I
        condition: 93
        requirements:
          slots: 4
          power: 7
          crew: 1
        name: name
        description: description
        speed: 1.6683562403749608
      properties:
        symbol:
          enum:
          - ENGINE_IMPULSE_DRIVE_I
          - ENGINE_ION_DRIVE_I
          - ENGINE_ION_DRIVE_II
          - ENGINE_HYPER_DRIVE_I
          type: string
        name:
          type: string
        description:
          type: string
        condition:
          description: Condition is a range of 0 to 100 where 0 is completely worn
            out and 100 is brand new.
          maximum: 100
          minimum: 0
          type: integer
        speed:
          minimum: 1
          type: number
        requirements:
          $ref: '#/components/schemas/ShipRequirements'
      required:
      - description
      - name
      - requirements
      - speed
      - symbol
      type: object
    ShipModule:
      description: A module can be installed in a ship and provides a set of capabilities
        such as storage space or quarters for crew. Module installations are permanent.
      example:
        symbol: MODULE_MINERAL_PROCESSOR_I
        requirements:
          slots: 4
          power: 7
          crew: 1
        name: name
        range: 0
        description: description
        capacity: 0
      properties:
        symbol:
          enum:
          - MODULE_MINERAL_PROCESSOR_I
          - MODULE_CARGO_HOLD_I
          - MODULE_CREW_QUARTERS_I
          - MODULE_ENVOY_QUARTERS_I
          - MODULE_PASSENGER_CABIN_I
          - MODULE_MICRO_REFINERY_I
          - MODULE_ORE_REFINERY_I
          - MODULE_FUEL_REFINERY_I
          - MODULE_SCIENCE_LAB_I
          - MODULE_JUMP_DRIVE_I
          - MODULE_JUMP_DRIVE_II
          - MODULE_JUMP_DRIVE_III
          - MODULE_WARP_DRIVE_I
          - MODULE_WARP_DRIVE_II
          - MODULE_WARP_DRIVE_III
          - MODULE_SHIELD_GENERATOR_I
          - MODULE_SHIELD_GENERATOR_II
          type: string
        capacity:
          minimum: 0
          type: integer
        range:
          minimum: 0
          type: integer
        name:
          type: string
        description:
          type: string
        requirements:
          $ref: '#/components/schemas/ShipRequirements'
      required:
      - name
      - requirements
      - symbol
      type: object
    ShipMount:
      description: A mount is installed on the exterier of a ship.
      example:
        symbol: MOUNT_GAS_SIPHON_I
        requirements:
          slots: 4
          power: 7
          crew: 1
        strength: 0
        name: name
        description: description
        deposits:
        - QUARTZ_SAND
        - QUARTZ_SAND
      properties:
        symbol:
          enum:
          - MOUNT_GAS_SIPHON_I
          - MOUNT_GAS_SIPHON_II
          - MOUNT_GAS_SIPHON_III
          - MOUNT_SURVEYOR_I
          - MOUNT_SURVEYOR_II
          - MOUNT_SURVEYOR_III
          - MOUNT_SENSOR_ARRAY_I
          - MOUNT_SENSOR_ARRAY_II
          - MOUNT_SENSOR_ARRAY_III
          - MOUNT_MINING_LASER_I
          - MOUNT_MINING_LASER_II
          - MOUNT_MINING_LASER_III
          - MOUNT_LASER_CANNON_I
          - MOUNT_MISSILE_LAUNCHER_I
          - MOUNT_TURRET_I
          type: string
        name:
          type: string
        description:
          type: string
        strength:
          minimum: 0
          type: integer
        deposits:
          items:
            enum:
            - QUARTZ_SAND
            - SILICON_CRYSTALS
            - PRECIOUS_STONES
            - ICE_WATER
            - AMMONIA_ICE
            - IRON_ORE
            - COPPER_ORE
            - SILVER_ORE
            - ALUMINUM_ORE
            - GOLD_ORE
            - PLATINUM_ORE
            - DIAMONDS
            - URANITE_ORE
            - MERITIUM_ORE
            type: string
          type: array
        requirements:
          $ref: '#/components/schemas/ShipRequirements'
      required:
      - name
      - requirements
      - symbol
      type: object
    SystemType:
      description: The type of waypoint.
      enum:
      - NEUTRON_STAR
      - RED_STAR
      - ORANGE_STAR
      - BLUE_STAR
      - YOUNG_STAR
      - WHITE_DWARF
      - BLACK_HOLE
      - HYPERGIANT
      - NEBULA
      - UNSTABLE
      type: string
    SystemWaypoint:
      example:
        symbol: symbol
        x: 1
        "y": 5
        type: null
      properties:
        symbol:
          type: string
        type:
          $ref: '#/components/schemas/WaypointType'
        x:
          type: integer
        "y":
          type: integer
      required:
      - symbol
      - type
      - x
      - "y"
      type: object
    SystemFaction:
      example:
        symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
      required:
      - symbol
      type: object
    WaypointType:
      description: The type of waypoint.
      enum:
      - PLANET
      - GAS_GIANT
      - MOON
      - ORBITAL_STATION
      - JUMP_GATE
      - ASTEROID_FIELD
      - NEBULA
      - DEBRIS_FIELD
      - GRAVITY_WELL
      type: string
    WaypointOrbital:
      description: An orbital is another waypoint that orbits a parent waypoint.
      example:
        symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
      required:
      - symbol
      type: object
    WaypointFaction:
      example:
        symbol: symbol
      properties:
        symbol:
          minLength: 1
          type: string
      required:
      - symbol
      type: object
    WaypointTrait:
      example:
        symbol: UNCHARTED
        name: name
        description: description
      properties:
        symbol:
          description: The unique identifier of the trait.
          enum:
          - UNCHARTED
          - MARKETPLACE
          - SHIPYARD
          - OUTPOST
          - SCATTERED_SETTLEMENTS
          - SPRAWLING_CITIES
          - MEGA_STRUCTURES
          - OVERCROWDED
          - HIGH_TECH
          - CORRUPT
          - BUREAUCRATIC
          - TRADING_HUB
          - INDUSTRIAL
          - BLACK_MARKET
          - RESEARCH_FACILITY
          - MILITARY_BASE
          - SURVEILLANCE_OUTPOST
          - EXPLORATION_OUTPOST
          - MINERAL_DEPOSITS
          - COMMON_METAL_DEPOSITS
          - PRECIOUS_METAL_DEPOSITS
          - RARE_METAL_DEPOSITS
          - METHANE_POOLS
          - ICE_CRYSTALS
          - EXPLOSIVE_GASES
          - STRONG_MAGNETOSPHERE
          - VIBRANT_AURORAS
          - SALT_FLATS
          - CANYONS
          - PERPETUAL_DAYLIGHT
          - PERPETUAL_OVERCAST
          - DRY_SEABEDS
          - MAGMA_SEAS
          - SUPERVOLCANOES
          - ASH_CLOUDS
          - VAST_RUINS
          - MUTATED_FLORA
          - TERRAFORMED
          - EXTREME_TEMPERATURES
          - EXTREME_PRESSURE
          - DIVERSE_LIFE
          - SCARCE_LIFE
          - FOSSILS
          - WEAK_GRAVITY
          - STRONG_GRAVITY
          - CRUSHING_GRAVITY
          - TOXIC_ATMOSPHERE
          - CORROSIVE_ATMOSPHERE
          - BREATHABLE_ATMOSPHERE
          - JOVIAN
          - ROCKY
          - VOLCANIC
          - FROZEN
          - SWAMP
          - BARREN
          - TEMPERATE
          - JUNGLE
          - OCEAN
          - STRIPPED
          type: string
        name:
          description: The name of the trait.
          type: string
        description:
          description: A description of the trait.
          type: string
      required:
      - description
      - name
      - symbol
      type: object
    TradeGood:
      example:
        symbol: null
        name: name
        description: description
      properties:
        symbol:
          $ref: '#/components/schemas/TradeSymbol'
        name:
          type: string
        description:
          type: string
      required:
      - description
      - name
      - symbol
      type: object
    MarketTradeGood:
      example:
        tradeVolume: 1
        symbol: symbol
        sellPrice: 0
        purchasePrice: 0
        supply: SCARCE
      properties:
        symbol:
          description: The symbol of the trade good.
          type: string
        tradeVolume:
          description: "The typical volume flowing through the market for this type\
            \ of good. The larger the trade volume, the more stable prices will be."
          minimum: 1
          type: integer
        supply:
          description: A rough estimate of the total supply of this good in the marketplace.
          enum:
          - SCARCE
          - LIMITED
          - MODERATE
          - ABUNDANT
          type: string
        purchasePrice:
          description: The price at which this good can be purchased from the market.
          minimum: 0
          type: integer
        sellPrice:
          description: The price at which this good can be sold to the market.
          minimum: 0
          type: integer
      required:
      - purchasePrice
      - sellPrice
      - supply
      - symbol
      - tradeVolume
      type: object
    ShipyardShip:
      description: ""
      example:
        engine:
          symbol: ENGINE_IMPULSE_DRIVE_I
          condition: 93
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          description: description
          speed: 1.6683562403749608
        reactor:
          symbol: REACTOR_SOLAR_I
          condition: 50
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          description: description
          powerOutput: 1
        name: name
        description: description
        mounts:
        - symbol: MOUNT_GAS_SIPHON_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          strength: 0
          name: name
          description: description
          deposits:
          - QUARTZ_SAND
          - QUARTZ_SAND
        - symbol: MOUNT_GAS_SIPHON_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          strength: 0
          name: name
          description: description
          deposits:
          - QUARTZ_SAND
          - QUARTZ_SAND
        purchasePrice: 6
        type: null
        modules:
        - symbol: MODULE_MINERAL_PROCESSOR_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          range: 0
          description: description
          capacity: 0
        - symbol: MODULE_MINERAL_PROCESSOR_I
          requirements:
            slots: 4
            power: 7
            crew: 1
          name: name
          range: 0
          description: description
          capacity: 0
        frame:
          symbol: FRAME_PROBE
          condition: 12
          moduleSlots: 0
          requirements:
            slots: 4
            power: 7
            crew: 1
          fuelCapacity: 0
          name: name
          description: description
          mountingPoints: 0
      properties:
        type:
          $ref: '#/components/schemas/ShipType'
        name:
          type: string
        description:
          type: string
        purchasePrice:
          type: integer
        frame:
          $ref: '#/components/schemas/ShipFrame'
        reactor:
          $ref: '#/components/schemas/ShipReactor'
        engine:
          $ref: '#/components/schemas/ShipEngine'
        modules:
          items:
            $ref: '#/components/schemas/ShipModule'
          type: array
        mounts:
          items:
            $ref: '#/components/schemas/ShipMount'
          type: array
      required:
      - description
      - engine
      - frame
      - modules
      - mounts
      - name
      - purchasePrice
      - reactor
      type: object
    ConnectedSystem:
      description: ""
      example:
        symbol: symbol
        distance: 5
        sectorSymbol: sectorSymbol
        factionSymbol: factionSymbol
        x: 6
        "y": 1
        type: null
      properties:
        symbol:
          minLength: 1
          type: string
        sectorSymbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/SystemType'
        factionSymbol:
          description: The symbol of the faction that owns the connected jump gate
            in the system.
          type: string
        x:
          type: integer
        "y":
          type: integer
        distance:
          type: integer
      required:
      - distance
      - sectorSymbol
      - symbol
      - type
      - x
      - "y"
      type: object
    ShipCargoItem:
      description: The type of cargo item and the number of units.
      example:
        symbol: symbol
        name: name
        description: description
        units: 1
      properties:
        symbol:
          description: The unique identifier of the cargo item type.
          type: string
        name:
          description: The name of the cargo item type.
          type: string
        description:
          description: The description of the cargo item type.
          type: string
        units:
          description: The number of units of the cargo item.
          minimum: 1
          type: integer
      required:
      - description
      - name
      - symbol
      - units
      type: object
    ShipNavRoute:
      description: The routing information for the ship's most recent transit or current
        location.
      example:
        departureTime: 2000-01-23T04:56:07.000+00:00
        arrival: 2000-01-23T04:56:07.000+00:00
        destination:
          symbol: symbol
          systemSymbol: systemSymbol
          x: 2
          "y": 7
          type: null
        departure:
          symbol: symbol
          systemSymbol: systemSymbol
          x: 2
          "y": 7
          type: null
      properties:
        destination:
          $ref: '#/components/schemas/ShipNavRouteWaypoint'
        departure:
          $ref: '#/components/schemas/ShipNavRouteWaypoint'
        departureTime:
          description: The date time of the ship's departure.
          format: date-time
          type: string
        arrival:
          description: "The date time of the ship's arrival. If the ship is in-transit,\
            \ this is the expected time of arrival."
          format: date-time
          type: string
      required:
      - arrival
      - departure
      - departureTime
      - destination
      type: object
    ShipNavStatus:
      description: The current status of the ship
      enum:
      - IN_TRANSIT
      - IN_ORBIT
      - DOCKED
      type: string
    SurveyDeposit:
      description: A surveyed deposit of a mineral or resource available for extraction.
      example:
        symbol: symbol
      properties:
        symbol:
          description: The symbol of the deposit.
          type: string
      required:
      - symbol
      type: object
    ExtractionYield:
      example:
        symbol: symbol
        units: 0
      properties:
        symbol:
          minLength: 1
          type: string
        units:
          description: The number of units extracted that were placed into the ship's
            cargo hold.
          type: integer
      required:
      - symbol
      - units
      type: object
    ContractPayment:
      example:
        onFulfilled: 1
        onAccepted: 6
      properties:
        onAccepted:
          description: The amount of credits received up front for accepting the contract.
          type: integer
        onFulfilled:
          description: The amount of credits received when the contract is fulfilled.
          type: integer
      required:
      - onAccepted
      - onFulfilled
      type: object
    ContractDeliverGood:
      description: "The details of a delivery contract. Includes the type of good,\
        \ units needed, and the destination."
      example:
        tradeSymbol: tradeSymbol
        unitsRequired: 5
        destinationSymbol: destinationSymbol
        unitsFulfilled: 5
      properties:
        tradeSymbol:
          description: The symbol of the trade good to deliver.
          minLength: 1
          type: string
        destinationSymbol:
          description: The destination where goods need to be delivered.
          minLength: 1
          type: string
        unitsRequired:
          description: The number of units that need to be delivered on this contract.
          type: integer
        unitsFulfilled:
          description: The number of units fulfilled on this contract.
          type: integer
      required:
      - destinationSymbol
      - tradeSymbol
      - unitsFulfilled
      - unitsRequired
      type: object
    ShipRole:
      description: The registered role of the ship
      enum:
      - FABRICATOR
      - HARVESTER
      - HAULER
      - INTERCEPTOR
      - EXCAVATOR
      - TRANSPORT
      - REPAIR
      - SURVEYOR
      - COMMAND
      - CARRIER
      - PATROL
      - SATELLITE
      - EXPLORER
      - REFINERY
      type: string
    ShipCondition:
      description: Condition is a range of 0 to 100 where 0 is completely worn out
        and 100 is brand new.
      maximum: 100
      minimum: 0
      type: integer
    ShipRequirements:
      description: The requirements for installation on a ship
      example:
        slots: 4
        power: 7
        crew: 1
      properties:
        power:
          description: The amount of power required from the reactor.
          type: integer
        crew:
          description: The number of crew required for operation.
          type: integer
        slots:
          description: The number of module slots required for installation.
          type: integer
      type: object
    TradeSymbol:
      enum:
      - PRECIOUS_STONES
      - QUARTZ_SAND
      - SILICON_CRYSTALS
      - AMMONIA_ICE
      - LIQUID_HYDROGEN
      - LIQUID_NITROGEN
      - ICE_WATER
      - EXOTIC_MATTER
      - ADVANCED_CIRCUITRY
      - GRAVITON_EMITTERS
      - IRON
      - IRON_ORE
      - COPPER
      - COPPER_ORE
      - ALUMINUM
      - ALUMINUM_ORE
      - SILVER
      - SILVER_ORE
      - GOLD
      - GOLD_ORE
      - PLATINUM
      - PLATINUM_ORE
      - DIAMONDS
      - URANITE
      - URANITE_ORE
      - MERITIUM
      - MERITIUM_ORE
      - HYDROCARBON
      - ANTIMATTER
      - FERTILIZERS
      - FABRICS
      - FOOD
      - JEWELRY
      - MACHINERY
      - FIREARMS
      - ASSAULT_RIFLES
      - MILITARY_EQUIPMENT
      - EXPLOSIVES
      - LAB_INSTRUMENTS
      - AMMUNITION
      - ELECTRONICS
      - SHIP_PLATING
      - EQUIPMENT
      - FUEL
      - MEDICINE
      - DRUGS
      - CLOTHING
      - MICROPROCESSORS
      - PLASTICS
      - POLYNUCLEOTIDES
      - BIOCOMPOSITES
      - NANOBOTS
      - AI_MAINFRAMES
      - QUANTUM_DRIVES
      - ROBOTIC_DRONES
      - CYBER_IMPLANTS
      - GENE_THERAPEUTICS
      - NEURAL_CHIPS
      - MOOD_REGULATORS
      - VIRAL_AGENTS
      - MICRO_FUSION_GENERATORS
      - SUPERGRAINS
      - LASER_RIFLES
      - HOLOGRAPHICS
      - SHIP_SALVAGE
      - RELIC_TECH
      - NOVEL_LIFEFORMS
      - BOTANICAL_SPECIMENS
      - CULTURAL_ARTIFACTS
      - REACTOR_SOLAR_I
      - REACTOR_FUSION_I
      - REACTOR_FISSION_I
      - REACTOR_CHEMICAL_I
      - REACTOR_ANTIMATTER_I
      - ENGINE_IMPULSE_DRIVE_I
      - ENGINE_ION_DRIVE_I
      - ENGINE_ION_DRIVE_II
      - ENGINE_HYPER_DRIVE_I
      - MODULE_MINERAL_PROCESSOR_I
      - MODULE_CARGO_HOLD_I
      - MODULE_CREW_QUARTERS_I
      - MODULE_ENVOY_QUARTERS_I
      - MODULE_PASSENGER_CABIN_I
      - MODULE_MICRO_REFINERY_I
      - MODULE_ORE_REFINERY_I
      - MODULE_FUEL_REFINERY_I
      - MODULE_SCIENCE_LAB_I
      - MODULE_JUMP_DRIVE_I
      - MODULE_JUMP_DRIVE_II
      - MODULE_JUMP_DRIVE_III
      - MODULE_WARP_DRIVE_I
      - MODULE_WARP_DRIVE_II
      - MODULE_WARP_DRIVE_III
      - MODULE_SHIELD_GENERATOR_I
      - MODULE_SHIELD_GENERATOR_II
      - MOUNT_GAS_SIPHON_I
      - MOUNT_GAS_SIPHON_II
      - MOUNT_GAS_SIPHON_III
      - MOUNT_SURVEYOR_I
      - MOUNT_SURVEYOR_II
      - MOUNT_SURVEYOR_III
      - MOUNT_SENSOR_ARRAY_I
      - MOUNT_SENSOR_ARRAY_II
      - MOUNT_SENSOR_ARRAY_III
      - MOUNT_MINING_LASER_I
      - MOUNT_MINING_LASER_II
      - MOUNT_MINING_LASER_III
      - MOUNT_LASER_CANNON_I
      - MOUNT_MISSILE_LAUNCHER_I
      - MOUNT_TURRET_I
      type: string
    ShipNavRouteWaypoint:
      description: The destination or departure of a ships nav route.
      example:
        symbol: symbol
        systemSymbol: systemSymbol
        x: 2
        "y": 7
        type: null
      properties:
        symbol:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/WaypointType'
        systemSymbol:
          minLength: 1
          type: string
        x:
          type: integer
        "y":
          type: integer
      required:
      - symbol
      - systemSymbol
      - type
      - x
      - "y"
      type: object
    register_request:
      properties:
        faction:
          description: The faction you choose determines your headquarters.
          enum:
          - COSMIC
          - VOID
          - GALACTIC
          - QUANTUM
          - DOMINION
          type: string
        symbol:
          description: How other agents will see your ships and information.
          example: BADGER
          maxLength: 14
          minLength: 3
          type: string
      required:
      - faction
      - symbol
      type: object
    register_201_response_data:
      example:
        agent:
          accountId: accountId
          symbol: symbol
          headquarters: headquarters
          credits: 0
        contract:
          terms:
            deliver:
            - tradeSymbol: tradeSymbol
              unitsRequired: 5
              destinationSymbol: destinationSymbol
              unitsFulfilled: 5
            - tradeSymbol: tradeSymbol
              unitsRequired: 5
              destinationSymbol: destinationSymbol
              unitsFulfilled: 5
            payment:
              onFulfilled: 1
              onAccepted: 6
            deadline: 2000-01-23T04:56:07.000+00:00
          factionSymbol: factionSymbol
          fulfilled: false
          accepted: false
          expiration: 2000-01-23T04:56:07.000+00:00
          id: id
          type: PROCUREMENT
        faction:
          symbol: symbol
          headquarters: headquarters
          traits:
          - symbol: BUREAUCRATIC
            name: name
            description: description
          - symbol: BUREAUCRATIC
            name: name
            description: description
          name: name
          description: description
        ship:
          symbol: symbol
          nav:
            route:
              departureTime: 2000-01-23T04:56:07.000+00:00
              arrival: 2000-01-23T04:56:07.000+00:00
              destination:
                symbol: symbol
                systemSymbol: systemSymbol
                x: 2
                "y": 7
                type: null
              departure:
                symbol: symbol
                systemSymbol: systemSymbol
                x: 2
                "y": 7
                type: null
            systemSymbol: systemSymbol
            waypointSymbol: waypointSymbol
            flightMode: null
            status: null
          engine:
            symbol: ENGINE_IMPULSE_DRIVE_I
            condition: 93
            requirements:
              slots: 4
              power: 7
              crew: 1
            name: name
            description: description
            speed: 1.6683562403749608
          fuel:
            consumed:
              amount: 0
              timestamp: 2000-01-23T04:56:07.000+00:00
            current: 0
            capacity: 0
          reactor:
[...]
